body {background-color:#4e4e52;}
h1 {font-family: Garamond}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
background-color: #000000;
overflow: hidden;}



 li a {display: block;
 width: 100px;
color: #FAECE2;
text-align: center; padding: 14px 16px;
text-decoration: none;}

li a:hover {
  background-color: #64461E;
}

